POSTGRES_DB=jelez_beton
POSTGRES_USER=jelez
POSTGRES_PASSWORD=jelez_password
DATABASE_URL=postgresql://jelez:jelez_password@db:5432/jelez_beton?schema=public
JWT_SECRET=super-secret-jwt
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:8080/api
